<%= form_for(@t_unidad) do |f| %>
  <% if @t_unidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@t_unidad.errors.count, "error") %> prohibited this t_unidad from being saved:</h2>

      <ul>
      <% @t_unidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
