production:
  adapter: sqlserver
  mode: dblib
  host: localhost
  port: 1433
  username: sa
  password: Rsp3cRsp3c
  encoding: utf8

development:
  adapter: sqlserver
  mode: dblib
  host: localhost
  port: 1433
  username: sa
  password: Rsp3cRsp3c
  encoding: utf8

test:
  adapter: sqlserver
  mode: dblib
  host: localhost
  port: 1433
  username: sa
  password: Rsp3cRsp3c
  encoding: utf8
