production:
  adapter: sqlserver
  mode: dblib
  host: localhost
  port: 1433
  username:
  password: 
  encoding: utf8

development:
  adapter: sqlserver
  mode: dblib
  host: localhost
  port: 1433
  username:
  password:
  encoding: utf8

preproduction:
  adapter: sqlserver
  mode: dblib
  host: localhost
  port: 1433
  username:
  password:
  encoding: utf8 

test:
  adapter: sqlserver
  mode: dblib
  host: localhost
  port: 1433
  username:
  password:
  encoding: utf8
