<%= form_for(@t_programa) do |f| %>
  <% if @t_programa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@t_programa.errors.count, "error") %> prohibited this t_programa from being saved:</h2>

      <ul>
      <% @t_programa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
