<%= form_for(@radio_site) do |f| %>
    <div class="row"> 
        <div class="small-2 medium-2 large-2 columns">
            <h3>Site</h3>
        </div>    
        <!--GESTION DE BOTONES -->    
        <div class="small-8 medium-8 large-8 columns text-right">
            <%= link_to t('form_for.return'), radio_sites_path, :class => "button small" %>        
            <%= f.submit t('form_for.save'), class: 'button small float-right' %>
        </div>       
    </div>
    <%= render 'form', f: f %>
<%end%>    
