*{
	box-sizing: border-box;
	font-family: 'Lato';
}

.MedidasCabeceraMadrid{
	overflow:		hidden;
	height:			60px;
	font-weight:	Bold;	
	max-width:		1020px;
	background:   	#003DF6;
	font-size:		1.9em;
    padding-top: 	20px;    
    color:		white;
}  
.padding-left{
	padding-left: 30px
}

.padding-right{
	padding-right: 30px
}
.margin-left{
	margin-left: 30px
}

.margin-right{
	margin-right: 30px
}
