*{
	box-sizing: border-box;
	font-family: 'Lato', Verdana;
	margin: 0 auto;
	max-width: 1020px;
}

div h3{
	padding-bottom:	0.5em;
}

#content{
	font-size:		13px;
}

.MedidasCabeceraMadrid{
	overflow:		hidden;
	height:			60px;
	font-weight:	Bold;	
	max-width:		1020px;
	background:   	#003DF6;
	font-size:		1.9em;
    padding-top: 	15px;    
    color:			white;    
}  

.padding-left{
	padding-left: 	30px;
}

.padding-right{
	padding-right: 	30px;
}

.padding-top{
	padding-top: 	30px;
}

.padding-bottom{
	padding-bottom: 30px;
}

.margin-left{
	margin-left: 	30px;
}

.margin-right{
	margin-right: 	30px;
}

.margin-top{
	margin-top: 	30px;
}

.margin-bottom{
	margin-bottom: 	30px;
}

.color-cabecera{
	background-color: #008CBA;
	color:white;
}

.margin-top-auto {
	margin-top:auto;
}

.margin-bottom-auto {
	margin-bottom:auto;
}    

th.columna-larga{
	width: 300px;
}