@import "bootstrap-sprockets";
@import "bootstrap";
@import "lato";

*{
	box-sizing: border-box;
	-moz-box-sizing:border-box;
 	-webkit-box-sizing: border-box;
	font-family: 'Lato';
}
  
/* Header */



header{
	margin:			0 auto;
	background:		#003DF6;
	width:			100%;
	height:			60px;
	display:		block;
}

body{
	margin:			0 auto;
	border:			0px;
	padding:		0px;
	width:			100%;
	min-height: 	100%;	
}

div{
	display:		block;
	margin: 		0 0 0 0;
}

#header{
	margin:			0 auto;
	background:		#003DF6;
	width:			100%;
	max-width:		1020px;
	height:			60px;
	display:		block;
	font-weight:	Bold;
}
header h3{
	text-decoration:none;  
}

header h3 a{
	color:			white;
	text-decoration: none;   
	cursor:			pointer; 
	letter-spacing: 5px;
}
header h3 a:hover{
	color:			white;
}

#nav{
	margin:			0 auto;
	width:			100%;
	max-width:		1020px;
	overflow:		hidden;
	margin-top:		15px;
	height: 		50px;
}

#nav ul li{
    list-style: 	none;
    float: 			left;	    
    width:			33.33%;
    text-align:		center;
    font-size: 		24px;
    color:			#003DF6;    
}

#nav ul{
	padding: 		0;
}

#nav ul li span{
     position: 		relative;
}

#nav ul li a{
	text-decoration: none;    
}

#nav ul li span:after{
    content: 		"";
    width: 			0%;
    position: 		absolute;
    left: 			0;
    bottom: 		-15px;
    background: 	#003DF6;
    height: 		2px;
}

#nav ul li:hover span:after{
    width: 100%;
}

#titulo{
	position:		relative; 
	display:		inline;
	background:		#003DF6;
	float:			left;
	height:			60px;
	color:			white;
	margin-left:	30px;
}

#firmamadrid{	
	margin:			0 auto;
	position:		relative; 
	right:			30px;
	display:		inline;
	background:		#003DF6;
	float:			right;
	height:			60px;	
}
	
#imgfirma{	
	position: 		relative;
	margin:			0 auto;
}

#content{
	margin:			0 auto;		
	height:			100%;
	max-width:		1020px;
	display:		block;
	background:		white;	
	padding-top:	2%;
	padding-bottom:	2%;
}

footer{		
	background:		#003DF6;
	width:			100%;
	bottom:			0;
	height: 		60px;	
}

#footer{	
	margin:			0 auto;
	background:		#003DF6;
	width:			100%;
	max-width:		1020px;
	height:			60px;	
	color:			white; 
	font-weight:	Bold;
}

#footer h4{
	margin-left:	30px;
	padding-top:	20px;
}