.level1title {
	background:  #cacaca!important;	
}

.level1title:hover,.level1title:focus{
	background: #8a8a8a!important;	
}

.level1content {
	background:  #fcf9f9f1!important;	
}	

.level2title {
	background:  rgb(2, 79, 161)!important;	
	color: #fefefe!important;		
}

.level2title:hover,.level2title:focus{
	background:  rgb(3, 49, 95)!important;	
	color: #fefefe!important;	
}

.level2content {
	background: #fefefe!important;	
}

.level3title {
	background:  rgb(108, 171, 243)!important;	
}

.level3title:hover,.level3title:focus{
	background:  rgb(52, 135, 230)!important;	
}

.level3content {
	background:  rgb(186, 215, 248)!important;	
}

.level4title {
	background:  #1964c7!important;	
	color: #fefefe!important;	
	padding: 0.6rem!important;
}