*{
	box-sizing: border-box;
	-moz-box-sizing:border-box;
}

h2{
	text-align: 	center;
	margin-bottom:	8%;
	margin-top:		5%;		
}

form label{
	width:			15%;
	margin-left:	25%;
}

form input{
	margin-bottom:	3%;
}

form input[type="submit"]{
	margin-top:		5%;
	margin-left:	42%;	
}