// Place all the styles related to the TUsuarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dtable{
	display: table;
}


.drow{
	display: table-row;
}

.dfield{
	display: table-cell;
	border: 1px solid
	
}