<footer  class="row MedidasCabeceraMadrid padding-left padding-right  expanded">

	<div class="small-12 medium-12 large-12 columns">
		<h5>Ayuntamiento de Madrid <%= Date.today.year %></h5> 
	</div>

</footer>