<header>
  <div>
    <div>
      GESLICO
      <nav>
        <ul>
          <li><%= link_to "Sedes", t_sedes_path %></li>
          <li><%= link_to "Usuarios", t_usuarios_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>