<header class="row MedidasCabeceraMadrid padding-left padding-right expanded" >
   	
	<div class="small-2 medium-2 large-2 expanded columns">
		<a href="/welcome">GESLICO</a>
	</div>    

    <div class="small-10 medium-10 large-10 columns padding-firma">
	    <%= image_tag("firma_madrid_blanco.png", class:"float-right hide-for-small-only") %>
    </div>

</header>
