<header>
    <div>
      <h1>GESLICO</h1>
      <h3></h3>
      <nav>
        <ul>
			<% if logged_in? %>
				<li><%= link_to "Sedes", t_sedes_path %></li>
				<li><%= link_to "Usuarios", t_usuarios_path %></li>
				<li><%= link_to "Cerrar Sesión", logout_path, method: "delete" %></li>

			<% end %>
        </ul>
      </nav>
    </div>
</header>