
<% if logged_in? %>

<div class="row expanded ">

  <div class="top-bar ">

    <div class="top-bar-left padding-left">

      <ul class="dropdown menu" data-dropdown-menu>
        
        <% if can? :read, TSede %>
          <li><a class="margin-right" href="#">Campus</a>
            <ul class="menu vertical">
              <li><%= link_to "Sedes", t_sedes_path, class: "margin-right" %></li>
              <li><a href="#">Acrónimos</a></li>
            </ul>
          </li>
        <% end %>
        
          <li class="margin-right">
            <a class="margin-right" href="#">Radio</a>
            <ul class="menu vertical">
              <li><a href="#">Plan de Numeración</a></li>
              <li><a href="#">Radio</a></li>
              <li><a href="#">Consolas</a></li>
              <li><a href="#">GSSI</a></li>
              <li><a href="#">Sites</a></li>
            </ul>
          </li>
        
        <li>
          <a class="margin-right" href="#">Móvil</a>
          <ul class="menu vertical">
            <li><a href="#">Líneas</a></li>
            <li><a href="#">Terminales</a></li>
            <li><a href="#">Tarjetas</a></li>
            <li><a href="#">Afaria</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Catálogo</a></li>
          </ul>
        </li>

        <li><a class="margin-right"href="#">Fija</a>
            <ul class="menu vertical">
              <li><a href="#">Líneas</a></li>
              <li><a href="#">Gestión de dispositivos</a></li>
            </ul>
        </li>

        <li>
          <a class="margin-right"href="#">Electrónica</a>
          <ul class="menu vertical">
            <li><a href="#">Almacén</a></li>
            <li><a href="#">Catálogo de Red</a></li>
            <li><a href="#">Reserva Rangos IP</a></li>
          </ul>
        </li>

        <li>
          <a class="margin-right" href="#">Datos</a>
          <ul class="menu vertical">
              <li><a href="#">Líneas</a></li>              
          </ul>
        </li>

        
      </ul>

    </div>

    <div class="top-bar-right padding-right">
      <ul class="menu">
        <% if can? :read, TUsuario %>
        <li><%= link_to "Usuarios", t_usuarios_path %></li>
        <% end %>
        <li><%= link_to "Cerrar Sesión", logout_path, method: "delete" %></li>
      </ul>      
    </div>
   
  </div>
  
<% end %>